@import '../config/colors.css';

.categoryLink {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--categoryLink-bg1);
  display: flex;
  flex-direction: column-reverse;
  padding: 60px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--navbarText);
}

.categoryLink:hover {
  background-color: var(--categoryLink-bg1-hover);
}

.categoryLink:visited {
  color: var(--navbarText);
}

@media only screen and (min-width: 800px) {
  .categoryLink:nth-of-type(2),
  .categoryLink:nth-of-type(3) {
    background-color: var(--categoryLink-bg2);
  }

  .categoryLink:nth-of-type(2):hover,
  .categoryLink:nth-of-type(3):hover {
    background-color: var(--categoryLink-bg2-hover);
  }
}

@media only screen and (max-width: 800px) {
  .categoryLink:nth-of-type(even) {
    background-color: var(--categoryLink-bg2);
  }

  .categoryLink:nth-of-type(even):hover {
    background-color: pink;
  }
}
