@import '../config/colors.css';

.home {
  width: 100%;
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  border: 0.5px solid var(--gridBorder);
  background-color: var(--gridBorder);

  /* border: 8px solid saddlebrown; */
}


@media only screen and (max-width: 800px) {
  .home {
    grid-template-columns: 1fr;
  }
}