@import '../config/colors.css';
@import url(https://fonts.googleapis.com/css?family=Redressed:regular);

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logoContainer {
  flex-grow: 1;
  height: 90px;
  background-color: var(--navbar);
  display: flex;
  align-items: center;

}

.link {
  color: var(--textColor);
  margin-left: 50px;
  display: flex;
  justify-items: center;
}

.logo {
  vertical-align: middle;
  font-family: 'Redressed';
  font-size: 40px;
  color: var(--textColor);
  user-select: none;
  text-decoration: none;
}

.menuIconContainer {
  width: 180px;
  height: 100%;
  background-color: var(--menuContainer);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.menuIconContainer:hover .menuIcon {
  color: var(--icon-hover);
}

.menuIcon {
  color: var(--textColor);
  font-size: 45px;
  transition: 0.3s;
}

.dropDownMenu {
  position: absolute;
  width: 540px;
  height: calc(100vh - 90px);
  right: 0;
  top: 90px;
  background-color: var(--menuContainer);
  z-index: -1;
  padding-left: 60px;

  /* border: 6px solid green; */
}

.menuLink {
  color: var(--textColor);
  text-decoration: none;
  margin-left: 50px;
}

.cartIconContainer {
  width: 180px;
  height: 100%;
  background-color: var(--cartContainer);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.cartIconContainer:hover .cartIcon {
  color: var(--icon-hover);
}

.cartIcon {
  color: var(--textColor);
  font-size: 45px;
  transition: 0.3s;
}

.shoppingCart {
  position: absolute;
  width: 540px;
  height: calc(100vh - 90px);
  right: 0;
  top: 90px;
  background-color: var(--cartContainer);
  z-index: -1;
  /* padding: 40px; */
}

.closeIconContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  /* background-color: pink; */
}

.closeIcon {
  font-size: 30px;
  color: var(--textColor);
  align-self: right;
  cursor: pointer;
  color: var(--textColor);
}

.closeIcon:hover {
  color: var(--icon-hover);
}

ul {
  margin-top: 50px;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
  font-size: 30px;
  user-select: none;
}


@media only screen and (max-width: 700px) {
  .logoContainer {
    justify-content: center;
  }

  .logo {
    font-size: 28px;
  }

  .link {
    margin-left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    display: grid;
    place-items: center;
    text-align: left;
  }

  .dropDownMenu {
    /* padding-left: 200px; */
    width: 100vw;
  }

  .menuLink {
    text-decoration: none;
    margin-left: 0px;
  }

  .shoppingCart {
    width: 100vw;
  }

  ul {
    margin-top: 25px;
  }

}