@import '../config/colors.css';
@import url(https://fonts.googleapis.com/css?family=Redressed:regular);

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logoContainer {
  flex-grow: 1;
  height: 80px;
  background-color: var(--navbar);
  display: flex;
  align-items: center;
}

.link {
  color: var(--textColor);
  margin-left: 50px;
  display: flex;
  justify-items: center;
}

.logo {
  vertical-align: middle;
  font-family: 'Redressed';
  font-size: 40px;
  color: var(--textColor);
  user-select: none;
  text-decoration: none;
}

.mobileLogoContainer {
  height: 80px;
  background-color: var(--navbar);
  display: none;
  place-items: center;
}

.mobileLogo {
  height: 65px;
  width: 65px;
}

.menuIconContainer {
  width: 180px;
  height: 100%;
  background-color: var(--menuContainer);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.menuIconContainer:hover .menuIcon {
  color: var(--icon-hover);
}

.menuIcon {
  color: var(--textColor);
  font-size: 40px;
  transition: 0.3s;
}

.dropDownMenu {
  position: absolute;
  width: 540px;
  height: calc(100vh - 80px);
  right: 0;
  top: 80px;
  background-color: var(--menuContainer);
  border-left: 0.5px solid var(--textColor);
  z-index: -1;
  padding-left: 60px;
  min-width: 320px;
}

.menuLink {
  color: var(--textColor);
  text-decoration: none;
  margin-left: 50px;
}

ul {
  margin-top: 50px;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
  font-size: 28px;
  user-select: none;
}

.cartIconContainer {
  width: 180px;
  height: 100%;
  background-color: var(--cartContainer);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.cartIconContainer > div {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  position: absolute;
}

.cartIconNumber {
  width: 40px;
  height: 40px;
  font-size: 18px;
  position: absolute;
  margin-top: 10px;
  display: grid;
  place-items: center;
  color: var(--textColor);
  transition: 0.3s;
}

.cartIconContainer:hover .cartIcon,
.cartIconContainer:hover .cartIconNumber {
  color: var(--icon-hover);
}

.cartIcon {
  color: var(--textColor);
  font-size: 38px;
  transition: 0.3s;
}

.shoppingCart {
  position: absolute;
  width: 540px;
  height: calc(100vh - 80px);
  right: 0;
  top: 80px;
  background-color: var(--cartContainer);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;

  border-left: 0.5px solid var(--textColor);
}

.closeIconContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.closeIcon {
  font-size: 30px;
  color: var(--textColor);
  cursor: pointer;
  color: var(--textColor);
}

.closeIcon:hover {
  color: var(--icon-hover);
}

.emptyCart {
  width: 100%;
  flex: 1;
  display: grid;
  place-items: center;
  color: var(--textColor);
}

.cartItemContainer {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.cartItem-bg {
  background-color: var(--textColor);
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  border-top: 0.5px solid var(--textColor);
  border-bottom: 0.5px solid var(--textColor);
}

.totalContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  font-size: 20px;
  color: var(--textColor);
  background-color: var(--cartTotal-bg);
  border-top: 0.5px solid var(--textColor);
}

.totalContainer > p:last-child {
  text-decoration: underline;
  cursor: pointer;
}

.total > span {
  word-spacing: -4px;
}

@media only screen and (max-width: 750px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logoContainer {
    display: none;
  }

  .mobileLogoContainer {
    display: grid;
  }

  .logo {
    font-size: 28px;
  }

  .link {
    margin-left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    display: grid;
    place-items: center;
    text-align: left;
  }


  .dropDownMenu {
    width: 100vw;
    height: 100vh;
    border-left: none;
  }

  .menuLink {
    text-decoration: none;
    margin-left: 0px;
  }

  .shoppingCart {
    width: 100vw;
    height: 100vh;
    border-left: none;
  }

  ul {
    margin-top: 25px;
  }

  .menuIconContainer {
    width: auto;
  }

  .cartIconContainer {
    width: auto;
  }
}
