@import '../config/colors.css';

.productPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.productContainer {
  width: 740px;
  height: 500px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
  background-color: var(--productDetails-bg);
  border: 0.5px solid var(--textColor);
}

.productImage {
  width: 380px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productPageNoStock {
  width: 380px;
  height: 500px;
  position: absolute;
  background-color: rgb(37, 46, 61);
  opacity: 0.3;
}

.productPageNoStock-banner {
  width: 380px;
  height: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productPageNoStock-banner > div {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  color: var(--textColor);
  background-color: rgb(212, 239, 244);
  opacity: 0.9;
  font-size: 20px;
}

.productDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  padding-left: 30px;
  overflow-wrap: break-word;
  color: var(--textColor);
}

.productDetailsName {
  font-size: 20px;
  font-weight: bold;
}

.productDetailsPrice {
  font-size: 18px;
}

.productDetailsDescription {
  margin-bottom: 5px;
  font-weight: bold;
}

.productDetails > p > span {
  word-spacing: -4px;
}

.variantPickerContainerTitle {
  font-weight: bold;
  text-align: center;
}

.variantPickerContainer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 10px;
}

@media only screen and (max-width: 750px) {
  .productContainer {
    width: 100vw;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position: 0%;
  }

  .productImage {
    width: 100%;
    height: 360px;
  }

  .productPageNoStock {
    width: 100%;
    height: 360px;
    position: absolute;
    background-color: rgb(37, 46, 61);
    opacity: 0.3;
  }

  .productPageNoStock-banner {
    width: 100%;
    height: 360px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
