@import '../config/colors.css';

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border: 8px solid saddlebrown;
}

.productListCard {
  width: 360px;
  height: 440px;
  margin: 20px;

  border: 4px solid green;
}