:root {
  --black: #000;
  --white: #fff;
  --background: hsl(210, 60%, 93%);
  --textColor: #103e53;

  --navbar: hsl(210, 100%, 85%);
  --menuContainer: hsl(210, 100%, 80%);
  --cartContainer: hsl(210, 100%, 75%);
  --cartTotal-bg: hsl(210, 100%, 90%);
  --icon-hover: #307a9c;
  --cartItem-bg: hsl(210, 100%, 95%);

  --categoryLink-border: #880f6e;
  --categoryLink-bg1: hsl(210, 100%, 95%);
  --categoryLink-bg2: hsl(210, 100%, 94%);
  --categoryLink-bg1-hover: hsl(40, 30%, 95%);
  --categoryLink-bg2-hover: hsl(40, 30%, 93%);
  --gridBorder: #103e53;

  --productListCard-bg: hsl(210, 100%, 96%);
  --productDetails-bg: hsl(210, 100%, 97%);

  --colorPickerBlack: black;
  --colorPickerSand: rgb(243, 231, 129);
  --colorPickerWhite: rgb(255, 255, 255);
  --colorPickerRed: rgb(229, 41, 41);
  --colorPickerYellow: rgb(205, 211, 36);
  --colorPickerAqua: rgb(38, 209, 195);
  --colorPickerGray: rgb(74, 74, 74);
  --colorPickerBlue: rgb(77, 109, 255);
  --colorPickerMediumBlue: rgb(116, 167, 238);
  --colorPickerArmy: rgb(77, 132, 65);
  --colorPickerNavy: rgb(25, 152, 168);
}
